.header {
    height: 100px;
    background-color: #521452;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}